<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <!-- REFERANCE FOR HEAD -->
    {% block head %} {% endblock %}
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo">DesignX</label>
            <ul>
              <li><a class="active" href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Feedback</a></li>
            </ul>
        {% if idexists != None %}
            {% if ses_type == "employee" %}
                <!-- NAV-BAR FOR EMPLOYEE -->
                <p>you entered as an employee</p>
            {% elif ses_type == "client" %}
                <!-- NAV-BAR FOR CLIENT -->
                <p>you entered as a client</p>
            {% elif ses_type == "admin" %}
                <!-- NAV-BAR FOR ADMIN -->
                <p>you entered as a admin</p>
            {% endif %}
            <p>welcome {{ idexists }}</p>
        {% else %}
            <!-- NAV-BAR FOR NON-REGISTEREE -->
        {% endif %}
            <p> you need to log in</p>
        <!-- NAVIGATION WILL BE HERE -->
    </nav>
    
    <!-- REFERANCE FOR BODY -->
    {% block body %} {% endblock %}
    
    <footer>
        <!-- FOOTER WILL BE HERE -->
    </footer>
</body>
</html>
